<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script type="text/javascript" th:src="@{/js/cartCheck.js}"></script>
<title>一般ユーザーメニュー画面</title>
</head>
<body>
	<!-- ヘッダー部 -->
	<header th:include="common :: pageHeaderGeneral"></header>
	<!--ヘッダー部終了  -->

	<div align="center">
		<span class="user-name">ようこそ<span th:text="${userName}"></span>さん</span><br>

		<!-- 警告メッセージ -->
		<span class="alert-text red"><span th:text="${alertMsg}"></span></span>

		<h1 class="mt-xl-3">メニュー</h1>

		<form th:action="@{/select-btn}" method="post">
			<input type="submit" name="productSearch" value="商品検索" class="btn btn-warning my-xl-3"><br>
			<input type="submit" name="purchaseHistory" value="購入履歴" class="btn btn-warning mb-xl-3"><br>
		</form>
	</div>
</body>
</html>