<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>削除確認</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/admin.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<!-- ヘッダー部 -->
	<header th:include="common :: pageHeaderAdmin"></header>
	<!--ヘッダー部終了  -->
	<div align="center">
		<form th:action="@{/delete-check}" th:object="${productInfo}" method="post">
			<h1>削除確認</h1>
			<h4><span class="red">※</span>下記の商品情報を削除します。よろしいですか?</h4>
			<!-- エラーメッセージ -->
			<span th:text="${errorMsg}" class="error-message"></span>
			<table>
				<tr>
					<td class="font">・<span th:text="#{productId}"></span> : </td><td class="font"><span th:text="*{productId}"></span></td>
				</tr>
				<tr>
					<td class="font">・<span th:text="#{productName}"></span> : </td><td class="font"><span th:text="*{productName}"></span></td>
				</tr>
				 <tr>
					<td class="font">・<span th:text="#{price}"></span> : </td><td class="font"><span th:text="*{price} >= 1000? ${#numbers.formatInteger(productInfo.price, 3, 'COMMA')}: *{price}"></span></td>
				</tr>
				<tr>
					<td class="font">・<span th:text="#{genre}"></span> : </td><td class="font"><span th:text="*{genreName}"></span></td>
				</tr>
				<tr>
					<td class="font">・<span th:text="#{quantity}"></span> : </td><td class="font"><span th:text="*{quantity}"></span></td>
				</tr>
			</table>

			<input type="submit" name="backList" value="一覧" class="btn btn-warning mt-xl-4  me-xl-2">
			<input type="submit" name="delete" value="削除" class="btn btn-warning mt-xl-4  ms-xl-2">
		</form>
	</div>
</body>
</html>