<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<script type="text/javascript" th:src="@{/js/cartCheck.js}"></script>
<title>購入履歴削除確認</title>
</head>
<body>
	<!-- ヘッダー部 -->
	<header th:include="common :: pageHeaderGeneral"></header>
	<!--ヘッダー部終了  -->

	<div align="center">
		<h1>購入履歴削除確認</h1>
		<h3><span class="red">※</span>下記の購入履歴を削除します。よろしいですか。</h3>
		<form th:action="@{/history-delete-check}" th:object="${purchaseInfo}" method="post">
			<table>
				<tr>
					<td class="font">・<span th:text="#{productName}"></span> :</td><td class="font"><span th:text="*{productName}"></span></td>
				</tr>
				<tr>
					<td class="font">・<span th:text="#{price}"></span> : </td><td class="font">\<span th:text="*{price} >= 1000? ${#numbers.formatInteger(purchaseInfo.price, 3, 'COMMA')}: *{price}"></span></td>
				</tr>
				<tr>
					<td class="font">・<span th:text="#{purchaseQty}"></span> :</td><td class="font"><span th:text="*{purchaseQty}"></span></td>
				</tr>
				<tr>
					<td class="font">・<span th:text="#{purchaseDateTime}"></span>:</td><td class="font"><span th:text="*{purchaseDateTime}"></span></td>
				</tr>
			</table>

			<!-- 購入Idを渡す -->
			<input type="hidden" name="purchaseId" th:value="*{purchaseId}">
			<input type="submit" name="backHistoryList" value="戻る" class="btn btn-warning mt-xl-3 me-xl-2">
			<input type="submit" name="delete" value="削除" class="btn btn-warning mt-xl-3 ms-xl-2">
		</form>
	</div>
</body>
</html>