<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/purchase-history.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<title>購入履歴一覧</title>
</head>
<body>
<!-- ヘッダー部 -->
<form th:action="@{/header}" method="post">
	<input type="submit" name="logout" value="ログアウト" class="btn btn-danger">
	<span class="gift-text-position">ギフト券残高\<span th:text="${giftAmount}" class="green"></span></span>
	<input type="submit" name="gift" value="ギフト券" class="btn btn-warning gift-button-position">
	<input type="submit" name="cart" value="カート" class="btn btn-warning cart-button-position">
</form>

	<div align="center">
		<h1>購入履歴一覧</h1>
		<h2>
			<span th:text="${userName}"></span>さんの購入履歴
		</h2>

		<!-- 購入履歴が存在しない場合 -->
		<p th:if="${purchaseHistoryList.size()} == 0" class="not-data">
			購入履歴はありません
		</p>

		<div th:if="${purchaseHistoryList.size()} != 0">
		<table class="border">
			<tr>
				<th>商品名</th>
				<th>価格</th>
				<th>購入数</th>
				<th>購入日時</th>
				<th></th>
			</tr>
			<tr th:each="history : ${purchaseHistoryList}">
				<td><span th:text="${history.productName}"></span></td>
				<td><span th:text="${history.price}"></span>円</td>
				<td class="ps-lg-3"><span th:text="${history.purchaseQty}"></span></td>
				<td><span th:text="${history.purchaseDateTime}"></span></td>

				<td>
					<form th:action="@{/purchase-history-list}" method="post">
						<!-- 購入IDを渡す -->
						<input type="hidden" name="purchaseId" th:value="${history.purchaseId}">
						<input type="submit" name="delete" value="削除" class="btn btn-primary">
					</form>
				</td>
			</tr>
		</table>
		</div>

		<form th:action="@{/purchase-history-list}" method="post">
			<input type="submit" name="backMenu" value="メニューへ" class="btn btn-warning mt-xl-4">
		</form>
	</div>

</body>
</html>