<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/product-search.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<title>購入確認</title>
</head>
<body>
<!-- ヘッダー部 -->
<form th:action="@{/header}" method="post">
	<input type="submit" name="logout" value="ログアウト" class="btn btn-danger">
	<span class="gift-text-position">ギフト券残高\<span th:text="${giftAmount}" class="green"></span></span>
	<input type="submit" name="gift" value="ギフト券" class="btn btn-warning gift-button-position">
	<input type="submit" name="cart" value="カート" class="btn btn-warning cart-button-position">
</form>


<div align="center">
	<h1>購入確認</h1>

	<!-- エラーメッセージ -->
	<div th:if="${errorList} != null">
		<span th:each="errorMsg : *{errorList}" class="red">
		<span th:text="${errorMsg}"></span><br>
	</span>
</div>

<form th:action="@{/product-purchase-finish}" th:object="${productPurchaseForm}"method="post">
	<table>
		<tr>
			<td class="font">・商品名 : </td>
			<td class="font"><span th:text="*{productName}"></span></td>
		</tr>
		<tr>
			<td class="font">・価格 : </td>
			<td class="font"><span th:text="*{price}"></span>円</td>
		</tr>
		<tr>
			<td class="font">・購入数 : </td>
			<td class="font"><span th:text="*{purchaseQty}"></span></td>
		</tr>
		<tr>
			<td class="font">・合計金額 : </td>
			<td class="font"><span th:text="*{totalAmount}"></span>円</td>
		</tr>
	</table>

	<input type="submit" name="backDetail" value="戻る" class="btn btn-warning mt-xl-3 me-xl-2">
	<input type="submit" name="purchase" value="購入" class="btn btn-warning mt-xl-3 ms-xl-2">


</form>
</div>
</body>
</html>